.navbar {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #1c1c26;
}

.navbar-item {
    display: flex;
    flex-direction: column;

    padding: 10px 10px 10px 10px;

    border-right: #1c1c26 2px solid;

    color: rgba(234, 234, 250, .5);

    >svg {
        fill: rgba(234, 234, 250, .5);
        width: 40px;
        height: 40px;
    }
}

.navbar-item:hover, .navbar-item-selected {
    cursor: pointer;
    color: #ffffff;

    >svg {
        fill: #ffffff;
    }
}

.navbar-item-selected {
    border-right: #535bf2 2px solid;
}